<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Suspend</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="../../Images/logo.ico" type="image/x-ico" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <!-- Bootstrap Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../../CSS/main.css" />
  <link rel="stylesheet" href="../../CSS/toast.css" />
  <!-- Custom JavaScript -->
  <script defer src="../../JS/dashboard.js"></script>
</head>

<body class="bg-darkGray main">
  <%- include("partials/adminSidebar"); -%>
  <%- include("partials/_alert"); -%>
  <section>
    <div class="flex flex-col justify-center items-center">
      <div class="mt-20 text-center">
        <h1 class="text-brightBlue font-bold text-2xl md:text-4xl">Suspend Users</h1>
        <h4 class="mt-2 text-darkBlue text-sm md:text-base">
          Total Of
          <span class="font-bold text-gold"><%= users.length %></span> Accounts.
        </h4>
      </div>

      <table class="border-collapse bg-lightGray1 mx-auto mt-12 mb-1 rounded-md w-[90%] text-xs md:text-sm">
        <thead class="">
          <tr class="border-cyan-500 border-b-2 h-16 text-center">
            <th class="border-slate-300 dark:border-slate-600 border w-1/4 font-semibold text-center text-sm sm:text-base">
              Investors Name
            </th>
            <th class="border-slate-300 dark:border-slate-600 border w-1/4 font-semibold text-center text-sm sm:text-base">
              Suspend Users
            </th>
            <th class="border-slate-300 dark:border-slate-600 border w-1/4 font-semibold text-center text-sm sm:text-base">
              Registration Date
            </th>
          </tr>
        </thead>
        <tbody>
          <% users.forEach(user=> {%>
          <tr class="border-b-1 h-10">
            <td class="border text-center text-sm sm:text-base capitalize">
              <%= user.name || user.username %>
            </td>
            <td class="border text-center text-purple-800 text-sm sm:text-base hover:underline capitalize">
              <form action="/user/admin/suspend?_method=put" method="post">
                <input type="hidden" name="user" value="<%= user._id %>" />
                <input class="hover:underline capitalize hover:cursor-pointer" type="submit" name="action" value="suspend" />
              </form>
            </td>
            <td class="border text-center capitalize">
              <%= user.createdAt.toLocaleDateString() %>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </section>
  <%- include ("partials/script"); -%>
</body>

</html>