<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../CSS/main.css" />
    <!-- Custom JavaScript -->
    <script defer src="../JS/dashboard.js"></script>
    <!-- Jivo Chat -->
    <script src="//code.jivosite.com/widget/DzC9jELjbC" async></script>
  </head>

  <body class="bg-darkGray main">
    <%- include ("partials/sidebar"); -%> 
    
    <% if(status ==='success' ){ %>
      <div
      id="overlay"
      class="overlay fixed inset-0 bg-black bg-opacity-70 z-20"
    ></div>

    <div
      id="successPopup"
      class="fixed w-[20rem] top-[30%] left-[3%] sm:left-[15%] md:left-[40%] lg:left-[50%] bg-white p-6 rounded shadow-lg z-30"
    >
    <span
    id="closePopupBtn"
    onclick="closePopupBtnClick()"
    class="absolute top-2 right-2 text-gray-500 cursor-pointer text-2xl"
    >&times;</span
  >
  <img class="mx-auto" src="../Images/correct.svg" alt="Correct Icon">
      <h2 class="text-green-500 text-2xl font-semibold mt-2 text-center">Success!</h2>
      <p class="text-gray-800 capitalize text-sm mt-8 text-center">
        Your Deposit was successfully processed and is currently under review.
      </p>
    </div>
    <% } else if (status==='fail' ){%>
      <div
      id="failureOverlay"
      class="overlay fixed inset-0 bg-black bg-opacity-70 z-20"
    ></div>

    <div
      id="failurePopup"
      class="fixed w-[20rem] top-[30%] left-[3%] sm:left-[15%] md:left-[40%] lg:left-[50%] bg-white p-6 rounded shadow-lg z-30"
    >
      <span
        onclick="failureClosePopupBtnClick()"
        class="absolute top-2 right-2 text-gray-500 cursor-pointer text-2xl"
        >&times;</span
      >
      <img class="mx-auto w-20" src="../Images/wrong.png" alt="Wrong Icon">
      <h2 class="text-red-500 text-2xl font-semibold mt-2 text-center">Failure!</h2>
      <p class="text-gray-800 capitalize text-sm mt-8 text-center">
        Your deposit failed please try again later.
      </p>
    </div>
    <% }%>
    <form action="/user/deposit" method="post">
      <div class="flex flex-col justify-center items-center">
        <div class="flex flex-row justify-center space-x-4 items-center mt-32">
          <div class="w-4 h-4 rounded-full bg-brightBlue"></div>
          <div class="w-4 h-4 rounded-full bg-gray-600"></div>
        </div>
        <div class="text-center text-brightBlue mt-10">
          <h1 class="text-2xl font-bold md:text-4xl">Make A Deposit</h1>
          <h4 class="text-sm mt-10 text-darkBlue md:text-base">
            Choose The Type Of Deposit
          </h4>
        </div>
        <div
          class="custom-select mt-2 w-72 md:w-96 border-2 border-brightBlue rounded-xl"
        >
          <select name="medium" class="rounded-xl">
            <option>Choose The Wallet</option>
            <option value="Bitcoin">Bitcoin</option>
            <option value="Ethereum">Ethereum</option>
            <option value="Bitcoin Cash">Bitcoin Cash</option>
            <option value="Cardano">Cardano (ADA)</option>
            <option value="Solana">Solana</option>
            <option value="Litecoin">Litecoin</option>
            <option value="Usdt">USDT</option>
            <option value="usRazor">US Razor Gold</option>
            <option value="ukSteam">UK Steam Card</option>
          </select>
        </div>
        <div class="mt-10">
          <h4 class="text-sm text-center text-darkBlue md:text-base">
            Amount To Deposit
          </h4>
          <input
            class="px-8 py-3 mt-2 placeholder:text-center placeholder:text-sm w-72 border-2 border-brightBlue rounded-xl md:w-96"
            type="number"
            name="amount"
            id="amount"
            placeholder="Enter The Amount "
          />
        </div>
        <button
          type="submit"
          class="w-72 md:w-96 px-10 py-3 mt-10 duration-700 rounded-xl bg-brightBlue text-lightGray hover:text-darkBlue border-2 border-brightBlue hover:bg-lightGray1"
        >
          Deposit
        </button>
      </div>
    </form>
    <div
      class="flex flex-col w-[90%] sm:w-[80%] mx-auto border border-darkNavy rounded-xl p-2 mt-10"
    >
      <p class="text-sm sm:text-base font-bold mb-2">Deposit History</p>

      <% deposits.forEach(deposit => { %>
      <div
        id="deposit"
        class="flex flex-row items-center justify-between border border-red-600 p-2 rounded-xl mt-2"
      >
        <div class="flex flex-row items-center">
          <div
            class="rounded-[50%] bg-red-600 bg-opacity-40 p-2 sm:p-4 flex items-center justify-center"
          >
            <img
              class="w-5 h-5 sm:w-6 sm:h-6"
              src="../Images/depositArrow.png"
              alt="Deposit Icon"
            />
          </div>
          <div>
            <p class="text-xs font-bold sm:text-base ml-2">
              Deposit Via <%= deposit.medium %>
            </p>
            <div class="flex flex-row space-x-2 ml-2 items-center">
              <p class="text-xs font-bold sm:text-base">
                <%= deposit.createdAt.toLocaleDateString() %>
              </p>
              <p class="text-xs sm:text-sm text-green-600 font-bold capitalize">
                <%= deposit.status %>
              </p>
            </div>
          </div>
        </div>
        <div>
          <h1 class="text-red-600 text-sm sm:text-xl font-bold">
            +£<%= deposit.amount.toLocaleString() %>
          </h1>
        </div>
      </div>
      <% }) %>
    </div>
    <%- include ("partials/script"); -%>
    <script src="../JS/deposit.js"></script>
    <!-- For the popups -->
    <script>
      const successPopup = document.getElementById("successPopup");
      const overlay = document.getElementById("overlay");

      const closePopupBtnClick = () => {
        successPopup.classList.add("hidden");
        overlay.classList.add("hidden");
      };
    
      const failurePopup = document.getElementById("failurePopup");
      const failureOverlay = document.getElementById("failureOverlay");

      const failureClosePopupBtnClick = () => {
        failurePopup.classList.add("hidden");
        failureOverlay.classList.add("hidden");
      };
    </script>
  </body>
</html>
