<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Deposit</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <!-- Bootstrap Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../CSS/main.css" />
  <!-- Custom JavaScript -->
  <script defer src="../JS/dashboard.js"></script>
</head>

<body class="bg-darkGray main">
  <%- include ("partials/sidebar"); -%> 
  <%- include("partials/_alert"); -%>
  <div class="p-4 px-8">
    <div class="mt-20">
      <h1 class="font-bold text-[#CC9E06] text-xl sm:text-2xl md:text-3xl lg:text-4xl">
        Make A Deposit
      </h1>
      <h4 class="text-darkNavy text-sm md:text-base">
        Current Balance
        <span class="ml-1 font-bold text-gold text-base md:text-xl">
          $<%= user.balance.toLocaleString() %>
        </span>
      </h4>
    </div>
    <div class="flex md:flex-row flex-col-reverse justify-between mt-10">
      <div class="bg-white mt-4 md:mt-0 p-2 border border-[#9EA0A3] rounded-lg w-full md:w-[49%]">
        <div class="flex flex-col px-2 w-full max-h-[30rem] overflow-y-auto linkContainer">
          <p class="mt-8 mb-2 font-bold text-sm sm:text-base">
            Deposit History
          </p>
          <% if(deposits.length === 0) { %>
          <div class="flex justify-center items-center m-auto">
            <h1 class="gradient-border font-bold text-sm sm:text-base md:text-lg lg:text-xl">
              No Deposit Yet
            </h1>
          </div>
          <% } %> <% deposits.forEach(deposit => { %>
          <div id="deposit" class="flex flex-row justify-between items-center mt-2 p-2 border border-red-600 rounded-xl">
            <div class="flex flex-row items-center">
              <div class="flex justify-center items-center bg-red-600 bg-opacity-40 p-2 sm:p-4 rounded-[50%]">
                <img class="" src="../Images/deposit.svg" alt="Deposit Icon" />
              </div>
              <div>
                <p class="ml-2 text-xs sm:text-base">
                  Deposit Via <%= deposit.medium %>
                </p>
                <div class="flex flex-row items-center space-x-2 ml-2">
                  <p class="text-gray-400 text-xs sm:text-base">
                    <%= new
                      Date(deposit.createdAt).toLocaleDateString('en-US', {
                      year: 'numeric', month: 'short', day: 'numeric' }) %>
                  </p>
                  <p class="font-bold text-green-600 text-xs sm:text-sm capitalize">
                    <%= deposit.status %>
                  </p>
                </div>
              </div>
            </div>
            <div>
              <h1 class="font-bold text-green-600 text-sm sm:text-xl">
                +$<%= deposit.amount.toLocaleString() %>
              </h1>
            </div>
          </div>
          <% }) %>
        </div>
        <div class="flex justify-end my-4">
          <a href="/user/transactions" class="flex items-center hover:translate-x-2 duration-500"><span class="text-[#6564DB] text-[0.65rem] sm:text-xs md:text-sm">View All Transactions</span><img src="../../Images/arrow-right.svg" alt="arrow" /></a>
        </div>
      </div>
      <div class="bg-white mt-4 md:mt-0 p-2 border border-[#9EA0A3] rounded-lg w-full md:w-[49%]">
        <form action="/user/deposit" method="post">
          <h4 class="mt-8 text-darkBlue text-sm md:text-base">
            Choose The Coin or Token
          </h4>
          <div class="relative mt-2 border border-[#9EA0A3] rounded-lg w-full text-xs sm:text-sm custom-select">
            <select name="medium" class="rounded-xl" required>
              <option>Choose The Wallet</option>
              <option value="Bitcoin">Bitcoin</option>
              <option value="Ethereum">Ethereum</option>
              <option value="Usdt">USDT ERC20</option>
              <option value="UsdtB">USDT BEP20</option>
            </select>
          </div>
          <div class="mt-8">
            <h4 class="text-darkBlue text-sm md:text-base">
              Amount To Deposit
            </h4>
            <input class="mt-2 px-8 py-2 border border-[#9EA0A3] rounded-lg focus:outline focus:outline-gold w-full placeholder:text-sm caret-darkBlue" type="number" name="amount" id="amount" placeholder="Minimum Of $100" min="100" required />
          </div>
          <div class="flex justify-end mt-20 mb-20">
            <button type="submit" class="bg-brightBlue hover:bg-lightGray1 disabled:opacity-50 px-5 sm:px-7 md:px-9 py-3 rounded-lg text-lightGray1 hover:text-darkBlue text-sm sm:text-base duration-500 disabled:cursor-not-allowed">
              Deposit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <%- include ("partials/script"); -%>
  <script src="../JS/deposit.js"></script>
</body>

</html>