<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Invest</title>
  <!-- Favicon -->
  <link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
  <!-- Bootstrap Icon -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" />
  <!-- Stylesheet -->
  <link rel="stylesheet" href="../CSS/main.css" />
  <!-- Custom JavaScript -->
  <script defer src="../JS/dashboard.js"></script>
  <script defer src="../JS/invest.js"></script>
</head>

<body class="bg-darkGray main">
  <%- include ("partials/sidebar"); -%>
  <%- include("partials/_alert"); -%>
  <section class="px-8 py-4">
    <div class="flex flex-col mt-20">
      <div>
        <h1 class="font-bold text-[#CC9E06] text-xl sm:text-2xl md:text-3xl lg:text-4xl">
          Make An Investment
        </h1>
        <h4 class="text-darkBlue text-sm md:text-base">Select Your Plan.</h4>
      </div>
      <div class="flex md:flex-row flex-col-reverse justify-between mt-10">
        <div class="border-[#9EA0A3] bg-white mt-4 md:mt-0 p-2 border rounded-lg w-full md:w-[49%]">
          <div class="flex flex-col px-2 w-full max-h-[30rem] overflow-y-auto linkContainer">
            <p class="mt-8 mb-2 font-bold text-sm sm:text-base">
              All Investments
            </p>
            <% if(investments.length === 0) { %>
            <div class="flex justify-center items-center m-auto">
              <h1 class="gradient-border font-bold text-sm sm:text-base md:text-lg lg:text-xl">
                No Running Investment Yet
              </h1>
            </div>
            <% } %> <% investments.forEach(investment=> {%>
            <div class="flex justify-between border-[#9EA0A3] bg-darkNavy p-4 border rounded-lg">
              <div>
                <p class="text-gray-200 text-xs sm:text-sm">
                  Invested Amount
                </p>
                <p class="gradient-border font-bold text-base sm:text-lg">
                  $<%= investment.amount %>
                </p>
                <p class="mt-4 text-gray-200 text-xs sm:text-sm">
                  Investment Plan
                </p>
                <p class="gradient-border font-bold text-base sm:text-lg capitalize">
                  <%= investment.plan %>...
                </p>
                <p class="mt-4 text-gray-200 text-xs sm:text-sm">
                  Start Date
                </p>
                <p class="gradient-border font-bold text-base sm:text-lg">
                  <%= new
                    Date(investment.createdAt).toLocaleDateString('en-US', {
                    year: 'numeric', month: 'short', day: 'numeric' }) %>
                </p>
              </div>
              <div>
                <p class="text-gray-200 text-xs sm:text-sm">Return Amount</p>
                <% if (investment.plan === "essential") { %>
                <p class="gradient-border font-bold text-base sm:text-lg">
                  <span class="mr-1 text-[0.6rem] text-green-400 sm:text-xs">+$<%= investment.amount * 0.21 %>
                  </span>
                  $<%= investment.amount + (investment.amount * 0.21) %>
                </p>
                <% } else if (investment.plan === "capital") { %>
                <p class="gradient-border font-bold text-base sm:text-lg">
                  <span class="mr-1 text-[0.6rem] text-green-400 sm:text-xs">+$<%= investment.amount * 0.70 %>
                  </span>
                  $<%= investment.amount + (investment.amount * 0.70) %>
                </p>
                <% } else if (investment.plan === "advanced") { %>
                <p class="gradient-border font-bold text-base sm:text-lg">
                  <span class="mr-1 text-[0.6rem] text-green-400 sm:text-xs">+$<%= investment.amount * 1.47 %>
                  </span>
                  $<%= investment.amount + (investment.amount * 1.47) %>
                </p>
                <% } else if (investment.plan === "ultimate") {%>
                <p class="gradient-border font-bold text-base sm:text-lg">
                  <span class="mr-1 text-[0.6rem] text-green-400 sm:text-xs">+$<%= investment.amount * 2.90 %>
                  </span>
                  $<%= investment.amount + (investment.amount * 2.90) %>
                </p>
                <% } %>
                <p class="mt-4 text-gray-200 text-xs sm:text-sm">
                  Investment Status
                </p>
                <% if(investment.isFulfilled === false) { %>
                <p class="gradient-border font-bold text-base sm:text-lg">
                  Running
                </p>
                <%} else {%>
                <p class="gradient-border font-bold text-base sm:text-lg">
                  Completed
                </p>
                <% } %>
                <p class="mt-4 text-gray-200 text-xs sm:text-sm">Due Date</p>
                <p class="gradient-border font-bold text-base sm:text-lg">
                  <%= new
                    Date(investment.expiresAt).toLocaleDateString('en-US', {
                    year: 'numeric', month: 'short', day: 'numeric' }) %>
                </p>
              </div>
            </div>
            <% }) %>
          </div>
          <div class="flex justify-end my-4">
            <a href="/user/transactions" class="flex items-center hover:translate-x-2 duration-500"><span class="text-[#6564DB] text-[0.65rem] sm:text-xs md:text-sm">View All Transactions</span><img src="../../Images/arrow-right.svg" alt="arrow" /></a>
          </div>
        </div>
        <div class="border-[#9EA0A3] bg-white mt-4 md:mt-0 p-2 border rounded-lg w-full md:w-[49%]">
          <form id="form" action="/user/invest" method="post">
            <h4 class="mt-8 text-darkBlue text-sm md:text-base">
              Choose Your Plan
            </h4>
            <div class="relative border-[#9EA0A3] custom-select mt-2 border rounded-lg w-full text-xs sm:text-sm">
              <select name="plan">
                <option value="">Select Your Plan</option>
                <option value="essential">Investor Essentials Plan</option>
                <option value="capital">Growth Capital Plan</option>
                <option value="advanced">Advanced Mining Strategy</option>
                <option value="ultimate">Ultimate Mining Opportunity</option>
              </select>
            </div>
            <div class="mt-4">
              <h4 class="mt-8 text-darkBlue text-sm md:text-base">
                Amount To Invest.
              </h4>
              <input class="border-[#9EA0A3] mt-2 px-8 py-2 border rounded-lg w-full placeholder:text-sm caret-darkBlue focus:outline focus:outline-gold" type="number" name="amount" id="amount" placeholder="Enter The Amount Here" required />
            </div>
            <div class="flex justify-end mt-10 mb-32">
              <button type="submit" class="bg-brightBlue hover:bg-lightGray1 disabled:opacity-50 px-5 sm:px-7 md:px-9 py-3 rounded-lg text-lightGray1 text-sm sm:text-base hover:text-darkBlue duration-500 disabled:cursor-not-allowed">
                Invest
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <%- include ("partials/script"); -%>
  <script src="../JS/deposit.js"></script>
</body>

</html>