<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Withdraw</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="../Images/logo.ico" type="image/x-ico" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <!-- Bootstrap Icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"
    />
    <!-- Stylesheet -->
    <link rel="stylesheet" href="../CSS/main.css" />
    <!-- Custom JavaScript -->
    <script defer src="../JS/dashboard.js"></script>
    <script defer src="../JS/load.js"></script>
    <script defer src="../JS/withdrawal.js"></script>
    <!-- Jivo Chat -->
    <script src="//code.jivosite.com/widget/SG1JKe26uR" async></script>
  </head>

  <body class="bg-darkGray main">
    <%- include ("partials/sidebar"); -%>
    <section>
      <% if(status==='success' ){ %>
        <div
        id="overlay"
        class="overlay fixed inset-0 bg-black bg-opacity-70 z-20"
      ></div>
  
      <div
        id="successPopup"
        class="fixed w-[20rem] top-[30%] left-[10%] sm:left-[30%] md:left-[40%] lg:left-[50%] bg-white p-6 rounded shadow-lg z-30"
      >
      <span
      id="closePopupBtn"
      onclick="closePopupBtnClick()"
      class="absolute top-2 right-2 text-gray-500 cursor-pointer text-2xl"
      >&times;</span
    >
    <img class="mx-auto" src="../Images/correct.svg" alt="Correct Icon">
        <h2 class="text-green-500 text-2xl font-semibold mt-2 text-center">Success!</h2>
        <p class="text-gray-800 capitalize text-sm mt-8 text-center">
          Your Deposit was successfully processed and is currently under review.
        </p>
      </div>
      <% } else if (status==='fail' ){%>
        <div
        id="failureOverlay"
        class="overlay fixed inset-0 bg-black bg-opacity-70 z-20"
      ></div>
  
      <div
        id="failurePopup"
        class="fixed w-[20rem] top-[30%] left-[10%] sm:left-[30%] md:left-[40%] lg:left-[50%] bg-white p-6 rounded shadow-lg z-30"
      >
        <span
          onclick="failureClosePopupBtnClick()"
          class="absolute top-2 right-2 text-gray-500 cursor-pointer text-2xl"
          >&times;</span
        >
        <img class="mx-auto w-20" src="../Images/wrong.png" alt="Wrong Icon">
        <h2 class="text-red-500 text-2xl font-semibold mt-2 text-center">Failure!</h2>
        <p class="text-gray-800 capitalize text-sm mt-8 text-center">
          Your withdrawal failed please try again later.
        </p>
      </div>
      <% }%> 
      <div class="flex flex-col justify-center items-center">
        <div class="text-center text-brightBlue mt-32">
          <h1 class="text-2xl font-bold md:text-4xl">Make A Withdrawal</h1>
          <h4 class="text-sm mt-4 text-darkNavy md:text-base">
            Account Balance
            <span class="text-base ml-1 text-gold md:text-xl font-bold">
              £<%= user.balance.toLocaleString() %>
            </span>
          </h4>
        </div>
        <div class="mt-5">
          <h4 class="text-sm text-darkBlue text-center">
            Choose the withdrawal option that best suits your specific need at
            the moment.
          </h4>
          <div
            class="options flex flex-row space-x-8 items-center justify-center mt-5"
          >
            <button
              id="bankOption"
              class="px-5 py-3 duration-700 text-lightGray1 bg-brightBlue border-2 border-brightBlue rounded-xl hover:bg-lightGray1 hover:text-darkBlue flex items-center"
            >
              Bank
              <ion-icon class="text-3xl ml-2" name="cash-outline"></ion-icon>
            </button>
            <button
              id="cryptoOption"
              class="px-5 py-3 duration-700 text-lightGray1 bg-brightBlue border-2 border-brightBlue rounded-xl hover:bg-lightGray1 hover:text-darkBlue flex items-center"
            >
              Crypto
              <ion-icon class="text-3xl ml-2" name="logo-bitcoin"></ion-icon>
            </button>
          </div>
        </div>

        <form onsubmit="displayLoader()" action="/user/withdraw" method="post">
          <div id="cryptoForm" class="hidden">
            <h4 class="mt-8 text-sm text-center text-darkBlue md:text-base">
              Wallet Address
            </h4>
            <div
              class="custom-select mt-10 w-72 md:w-96 border-2 border-brightBlue rounded-xl text-center relative"
            >
              <select class="text-lg" name="wallet">
                <option>Choose Your Wallet</option>
                <option value="Bitcoin">Bitcoin</option>
                <option value="Ethereum">Ethereum</option>
                <option value="Bitcoin Cash">Bitcoin Cash</option>
                <option value="Cardano">Cardano(ADA)</option>
                <option value="Solana">Solana</option>
                <option value="Litecoin">Litecoin</option>
                <option value="Near">NEAR</option>
                <option value="Waves">WAVES</option>
              </select>
            </div>
            <div class="mt-4">
              <input type="hidden" value="crypto" name="medium" />

              <h4 class="mt-8 text-sm text-center text-darkBlue md:text-base">
                Wallet Address
              </h4>
              <input
                class="px-8 py-3 mt-2 placeholder:text-center placeholder:text-sm w-72 md:w-96 border-2 border-brightBlue rounded-xl"
                type="text"
                name="address"
                id="address"
                placeholder="Input Your Wallet Address"
                required
              />
              <h4 class="mt-4 text-sm text-center text-darkBlue md:text-base">
                Amount To Withdraw
              </h4>
              <input
                class="px-8 py-3 mt-2 placeholder:text-center placeholder:text-sm w-72 md:w-96 border-2 border-brightBlue rounded-xl"
                type="number"
                name="amount"
                id="amount"
                placeholder="Minimum Of £100"
                min="100"
                required
              />
            </div>
            <div class="flex justify-center">
              <button
                type="submit"
                class="px-10 py-3 mt-10 w-72 md:w-96 duration-700 text-lightGray1 bg-brightBlue border-2 border-brightBlue rounded-xl hover:bg-lightGray1 hover:text-darkBlue disabled:opacity-50 disabled:cursor-not-allowed load"
              >
                Withdraw
              </button>
            </div>
          </div>
        </form>
        <form onsubmit="displayLoader()" action="/user/withdraw" method="post">
          <div id="bankForm" class="hidden">
            <h4 class="mt-10 text-sm text-center text-darkBlue md:text-base">
              Enter The Amount You Want To Withdraw
            </h4>
            <input
              class="px-8 py-3 mt-2 placeholder:text-center placeholder:text-sm w-72 md:w-96 border-2 border-brightBlue rounded-xl"
              type="number"
              name="amount"
              id="amount"
              placeholder="Minimum Of £100"
              min="100"
              required
            />
            <h4 class="mt-4 text-sm text-center text-darkBlue md:text-base">
              Enter Your Account Name
            </h4>
            <input
              class="px-8 py-3 mt-2 placeholder:text-center placeholder:text-sm w-72 md:w-96 border-2 border-brightBlue rounded-xl"
              type="text"
              name="accountName"
              id="accountName"
              placeholder="Enter Your Account Name"
              required
            />
            <h4 class="mt-4 text-sm text-center text-darkBlue md:text-base">
              Enter Your Account Number
            </h4>
            <input
              class="px-8 py-3 mt-2 placeholder:text-center placeholder:text-sm w-72 md:w-96 border-2 border-brightBlue rounded-xl"
              type="number"
              name="accountNumber"
              id="accountNumber"
              placeholder="Enter Your Account Number"
              required
            />
            <h4 class="mt-4 text-sm text-center text-darkBlue md:text-base">
              Enter Your Bank's Sort Code
            </h4>
            <input type="hidden" value="bank" name="medium" />
            <input
              class="px-8 py-3 mt-2 placeholder:text-center placeholder:text-sm w-72 md:w-96 border-2 border-brightBlue rounded-xl"
              type="text"
              name="sortCode"
              id="sortCode"
              placeholder="Enter Your Bank's Sort Code"
              required
            />
            <h4 class="mt-4 text-sm text-center text-darkBlue md:text-base">
              Enter Your Bank Name
            </h4>
            <input
              class="px-8 py-3 mt-2 placeholder:text-center placeholder:text-sm w-72 md:w-96 border-2 border-brightBlue rounded-xl"
              type="text"
              name="bankName"
              id="bankName"
              placeholder="Enter Your Bank Name"
              required
            />
            <div class="flex justify-center mb-10">
              <button
                type="submit"
                class="px-10 py-3 w-72 md:w-96 mt-10 duration-700 text-lightGray1 bg-brightBlue border-2 border-brightBlue rounded-xl hover:bg-lightGray1 hover:text-darkBlue disabled:opacity-50 disabled:cursor-not-allowed load"
              >
                Withdraw
              </button>
            </div>
          </div>
        </form>
      </div>
      <div
      class="flex flex-col w-[90%] sm:w-[80%] mx-auto border border-darkNavy rounded-xl p-2 my-10"
    >
      <p class="text-sm sm:text-base font-bold mb-2">Withdrawal History</p>

      <% withdrawals.forEach(withdrawal => { %>
      <div
        id="withdrawal"
        class="flex flex-row items-center justify-between border border-green-600 p-2 rounded-xl mt-2"
      >
        <div class="flex flex-row items-center">
          <div
            class="rounded-[50%] bg-green-600 bg-opacity-40 p-2 sm:p-4 flex items-center justify-center"
          >
            <img
              class="w-5 h-5 sm:w-6 sm:h-6"
              src="../Images/withdraw.png"
              alt="Withdrawal Icon"
            />
          </div>
          <div>
            <% if(withdrawal.account.method == "crypto") { %>
            <p class="text-xs font-bold sm:text-base ml-2 capitalize">
              Withdraw Via <%= withdrawal.account.method %>
            </p>
            <p class="text-xs font-bold sm:text-base ml-2 capitalize">Wallet: <%=withdrawal.account.wallet %></p>
            <% } else if ((withdrawal.account).method == 'bank') {%>
              <p class="text-xs font-bold sm:text-base ml-2 capitalize">
                Withdraw Via <%= withdrawal.account.method %>
              </p>
              <p class="text-xs font-bold sm:text-base ml-2 capitalize">Bank Name: <%=withdrawal.account.bankName %></p>
              <% } %>
            <div class="flex flex-row space-x-2 ml-2 items-center">
              <p class="text-xs font-bold sm:text-base">
                <%= withdrawal.createdAt.toLocaleDateString() %>
              </p>
              <p class="text-xs sm:text-sm text-green-600 font-bold capitalize">
                <%= withdrawal.status %>
              </p>
            </div>
          </div>
        </div>
        <div>
          <h1 class="text-red-600 text-sm sm:text-xl font-bold">
            -£<%= withdrawal.amount.toLocaleString() %>
          </h1>
        </div>
      </div>
      <% }) %>
    </div>
    </section>
    <%- include ("partials/script"); -%>
    <!-- For the popups -->
    <script>
      const successPopup = document.getElementById("successPopup");
      const overlay = document.getElementById("overlay");

      const closePopupBtnClick = () => {
        successPopup.classList.add("hidden");
        overlay.classList.add("hidden");
      };
    
      const failurePopup = document.getElementById("failurePopup");
      const failureOverlay = document.getElementById("failureOverlay");

      const failureClosePopupBtnClick = () => {
        failurePopup.classList.add("hidden");
        failureOverlay.classList.add("hidden");
      };
    </script>
  </body>
</html>
